<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title RG3
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/common.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/logo.svg")
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Каталог


